body {
    background-image: url("../images/bg-palm.jpg"); /*imagen de fondo*/
}

.input {
   
    display: flex;
    justify-content: center;
    /*se alinea en el eje horizontal*/
    align-items: center;
    /*se alinea en el eje vertical*/
    border-radius: 125%;
    background-color: aliceblue;
    max-width: 30%;
    height: auto;
    margin: 4% 3%;
    padding: 1% 6%;
    font-size: 18px;
    margin-left: 30%;
}

i, p {
    margin: 10px;
}